{% extends 'index.html' %}
{% block content %}
<main role="main" class="container">

    <div style="text-align: center; padding: 40px; " class="starter-template">
      <h2 style="font-size: 3rem; font-weight: 700; font-family: Playfair Display, serif;">About us</h2>
      <p class="lead">Dairy products or milk products, also known as lacticinia, are food products made from or containing milk.The most common dairy animals are cow, water buffalo, nanny goat, and ewe. Dairy products include common grocery store food around the world such as yogurt, cheese, milk and butter.  <p>
     
    </div>
  
  </main>
  <main role="main" class="container mt-2">

    <div style="text-align: center; padding: 40px; " class="starter-template">
      <h2 style="font-size: 3rem; font-weight: 700; font-family: Playfair Display, serif;">Our Products</h2>
      <p class="lead">Dairy Delight we offer a diverse range of dairy products that cater to every palate and nutritional need. From our signature fresh milk sourced from local, ethically managed farms to our creamy butter and artisanal cheeses, each product is crafted with care and expertise. Our yogurt varieties are a favorite among health-conscious consumers, offering a balance of flavors and nutritional benefits that make them a perfect choice for any meal. <p>
     
    </div>
  
  </main>
  <main role="main" class="container mt-2">

    <div style="text-align: center; padding: 40px; " class="starter-template">
      <h2 style="font-size: 3rem; font-weight: 700; font-family: Playfair Display, serif;">About Company</h2>
      <p class="lead">Welcome to Dairy Delight., where our passion for dairy excellence meets a commitment to sustainable practices and community support. For over three decades, we have been a trusted name in the dairy industry, renowned for our dedication to quality and innovation. <p>
     
    </div>
  
  </main>
 



{%endblock%}