
{% extends 'index.html'%}
{% block content%}
<div class='container'>
   
    <div class="row mt-5 shadow-lg p-3 mb-5 bg-body rounded">
        <div class="col-sm-12 ">
          <div class="card ">
            <div class="card-body">

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d57657.72279389826!2d86.08383344097165!3d25.41793993231051!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f21acfd71c503d%3A0xb63ebca77635ae58!2sBegusarai%2C%20Bihar!5e0!3m2!1sen!2sin!4v1721381432338!5m2!1sen!2sin" width="1050" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
        
      </div>
</div>


{% endblock%}